/*组件根节点*/
:host {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image:url('~/assets/imgs/bg.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:100% 100%;
}
.landingContain {
    position: absolute;
    top: 15%;
    right: 20%;
    left: 20%;
    bottom: 15%;
    box-shadow: 0px 0px 30px 0 #003D79;
}
.landingImg {
    position:absolute;
    left:0;
    top:0;
    width:40%;
    height:100%;
    background-size:auto 100%;
    background-image:url('~/assets/imgs/landingimg.gif');
    background-position-x:50%;
    background-repeat:no-repeat;
}
.landingContent {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(325deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
}
    .landingContent .header {
        width:100%;
        height:20%;
    }
    .landingContent .main-content {
        width: 100%;
        height: 80%;
    }
